<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------LINK CSS----------------------->
    <link rel="stylesheet" href="css/style.css">
    <!----------------/LINK CSS----------------------->
    <!----------------FONTAWESOME CDN----------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!----------------/FONTAWESOME CDN----------------->
    <!-----------------VUE JS CDN---------------------->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-----------------/VUE JS CDN---------------------->
    <!-----------------GOOGLE  FONT-------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet"> 
    <!-----------------/GOOGLE  FONT-------------------->
    <title>Boolzapp</title>
</head>
<body>

    <div class="container" id="app">
    <!------ASIDE----->
    <aside>
        <div class="aside-header debug">
            <!------PROFILE CONTAINER----->
            <div class="profile-container">
                <div class="profile-img">
                    <img src="img/avatar_1.jpg" alt="" id="profile">
                </div>

                <p class="profile-name">Lorenzo</p>
            </div>
            <!------/PROFILE CONTAINER----->

            <!------ICON CONTAINER----->
            <div class="icon-container">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <!------/ICON CONTAINER----->
        </div>

        <!---------NOTIFICATIONS CONTAINER----->
        <div class="notification-container">
            <div class="notification-circle">
                <i class="fa-solid fa-bell-slash" id="icon-bell"></i>
            </div>

            <div class="notification">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <small>Attiva notifiche Desktop</small>
            </div>
        </div>
        <!---------/NOTIFICATIONS CONTAINER----->

        <!----------SEARCH BAR------------------>
        <div class="searchbar-container debug">
            <div class="search-icon debug">
                <i class="fa-solid fa-magnifying-glass" id="search"></i>
            </div>

            <input type="search" placeholder="Cerca o inizia una nuova chat" id="searchbar">
        </div>
        <!----------/SEARCH BAR------------------>

        <!----------CONTACTS--------------------->
        <ul class="contact-list">
            <li v-for="(contact, index) in contacts" @click="selectContactClick(index)" :class="{active: currentContact === index && currentContact === index}">
                <div class="contact-container">
                    <div class="contact-img-container">
                        <img :src="`img/avatar${contact.avatar}.jpg`" alt="" class="contact-img">
                    </div>

                    <div class="contact-name-container">
                        <h4>{{contact.name}}</h4>
                        <small class="last-message-text">{{contact.messages[contact.messages.length-1].message}}</small>
                    </div>

                    <div class="contact-date-container">
                        <small>{{contact.messages[contact.messages.length-1].formattedDate}}</small>
                    </div>
                </div>
            </li>
        </ul>
        <!----------/CONTACTS--------------------->
    </aside>
    <!------/ASIDE----->

    <!------MAIN----->
    <main>
        <div class="main-container debug">
            <!-----------------------MAIN HEADER-------------------------->
            <div class="main-header">

            <!--------------------CURRENT CONTACT CONTAINER------------>
             <div class="currentcontact-container">

                <!-----CONTAINER IMAGE CURRENT CONTACT----->
                <div class="image-current-contact">
                    <img class="current-contact-img" :src="`img/avatar${contacts[currentContact].avatar}.jpg`" alt="">
                </div>
                <!-----/CONTAINER IMAGE CURRENT CONTACT----->

                <!-----CONTAINER TITLE CURRENT CONTACT------>
                <div class="currentcontact-name-container debug">
                    <h4>{{contacts[currentContact].name}}</h4>
                    <small>Ultimo accesso oggi alle 12:00</small>
                </div>
                <!-----/CONTAINER TITLE CURRENT CONTACT------>

             </div>
             <!--------------------/CURRENT CONTACT CONTAINER------------>
            
                <!----------------CONTAINER ICON------------->
                    <div class="main-icon-container debug">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-inbox"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                <!----------------/CONTAINER ICON------------->
            </div>
            <!-----------------------/MAIN HEADER-------------------------->


            <!----------------CONTAINER MAIN CHAT------------->
            <div class="main-chat-container debug">
                <!--MESSAGE CONTAINER-->
                <div class="message-container">
                <ul class="message-list">

                    
                    <li v-for="text in contacts[currentContact].messages">
                        <div class="message-container debug" v-bind:class = "(text.status === 'sent')?'message-sent':'message-received'">
                            {{text.message}}
                            <small class="message-time">
                                {{text.formattedDate}}
                            </small>
                        </div>
                    </li>
                    
                </ul>
            </div>
                <!--/MESSAGE CONTAINER-->
            </div>
            <!----------------/CONTAINER MAIN CHAT------------->

            
            <!-----------------MAIN FOOTER----------------------->
            <div class="main-footer-container debug">
                <div class="main-foooter-icon debug">
                    <i class="fa-regular fa-face-smile" id="smile-icon"></i>
                </div>

                <form class="chat-input" @submit.prevent="newMessage">
                    <input type="text" v-model="currentMessage" class="message-input" placeholder="Scrivi un messaggio....."></input>
                </form>

                <i class="fa-solid fa-microphone"></i>
            </div>
            <!-----------------/MAIN FOOTER----------------------->

            
        </div>
    </main>
    <!------/MAIN----->
    </div>



    <script src="js/main.js"></script>
</body>
</html>